<component name="ArtifactManager">
  <artifact type="war" name="SpringMybatisEasyUi:war">
    <output-path>$PROJECT_DIR$/SpringMybatisEasyUi/target</output-path>
    <root id="archive" name="com.jian.war">
      <element id="artifact" artifact-name="SpringMybatisEasyUi:war exploded" />
    </root>
  </artifact>
</component>